#kuchbhi
  {
   height:100%;
   width:100%;
   background:aqua;
  }


#chi
  {
   height:800px;
   width:800px;
   background:pink;
  }




#a1
  {
   height:100px;
   width:100px;
   background:brown;
   float:right;
  }
#a2
  {
   height:100px;
   width:100px;
   background:green;
   float:right;
  }
#a3
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a4
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a5
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a6
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a7
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a8
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a9
  {
   height:100px;
   width:100px;
   background:black;
   float:left;
  }
#a10
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a11
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a12
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a13
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a14
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a15
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a16
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a17
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a18
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a19
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a20
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a21
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a22
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a23
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a24
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a25
  {
   height:100px;
   width:100px;
   background:black;
   float:left;
  }
#a26
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a27
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a28
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a29
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a30
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a31
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a32
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a33
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a34
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a35
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a36
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a37
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a38
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a39
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a40
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a41
  {
   height:100px;
   width:100px;
   background:black;
   float:left;
  }
#a42
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a43
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a44
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a45
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a46
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a47
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a48
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a49
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a50
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a51
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a52
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a53
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a54
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a55
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a56
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }




#a57
  {
   height:100px;
   width:100px;
   background:black;
   float:left;
  }
#a58
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a59
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a60
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a61
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a62
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }
#a63
  {
   height:100px;
   width:100px;
   background:black;
   float:right;
  }
#a64
  {
   height:100px;
   width:100px;
   background:white;
   float:right;
  }